In [1]:
numeros= [6,5,3,8,4,2,5,4,11]
suma=0

for valor in numeros:
    suma= suma + valor
print("la suma es", suma)

la suma es 48

In [2]:
numeros= [6,5,3,8,4,2,5,4,11]
suma=0

for valor in numeros:
    suma= suma + valor
print(f"la suma es {suma}")

la suma es 48

In [4]:
frutas= ["manzana","fresa","cereza"]
for x in frutas:
    print(x)

manzana
fresa
cereza

In [5]:
for Y in "platano":
    print(Y)

p
l
a
t
a
n
o

In [8]:
total= 0
for i in 5,6,7,3,4:
    print(i)
    total += i  # es lo mismo que "total= total +1"
print("Total", total)

5
6
7
3
4
Total 25

In [10]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [11]:
for x in range(2,10,3):
    print(x)

2
5
8

In [12]:
Más_grande=-1
for número in [9,74,398,45,0]:
    if número > Más_grande:
        Más_grande= número
print( "Número más grande es:", Más_grande)

Número más grande es: 398

In [13]:
frutas= ["manzana","fresa","cereza"]
for fruta in frutas:
    print(fruta)
    if fruta=="fresa":
        break

manzana
fresa

In [15]:
for x in range(6):
    if x ==8 :break
    print(x)
else:
    print("proceso terminado")

0
1
2
3
4
5
proceso terminado

In [16]:
for x in range(6):
    if x ==3 :break
    print(x)
else:
    print("proceso terminado")

0
1
2

In [20]:
nombre= input("Nombre del estudiante")
datos={"José":90,"Óscar":100,"Miguel":89}
for estudiante in datos:
    if estudiante==nombre:
        print("Calificación", datos [estudiante])
        break
else:
    print("No se encontró estudiante")

Nombre del estudiante Óscar

Calificación 100

In [22]:
frutas= ["manzana","fresa","cereza"]
adjetivos= ["roja", "grande", "deliciosa"]
for fruta in frutas:
    for tipo in adjetivos:
        print(fruta, tipo)

manzana roja
manzana grande
manzana deliciosa
fresa roja
fresa grande
fresa deliciosa
cereza roja
cereza grande
cereza deliciosa

In [24]:
lista=[10,20,30,40]
for número in reversed(lista):
    print(número)

40
30
20
10

In [6]:
tablas= int(input(" número de tablas a calular: "))
for i in range(1,tablas + 1):
    print("tabla de multipliar del:",i)
    contador= 1
    while contador <11:
        print(i* contador, end=" ")
        contador +=1 
    print("\n")

 número de tablas a calular:  5

tabla de multipliar del: 1
1 2 3 4 5 6 7 8 9 10

tabla de multipliar del: 2
2 4 6 8 10 12 14 16 18 20

tabla de multipliar del: 3
3 6 9 12 15 18 21 24 27 30

tabla de multipliar del: 4
4 8 12 16 20 24 28 32 36 40

tabla de multipliar del: 5
5 10 15 20 25 30 35 40 45 50