In [1]:
import numpy as np
import pandas as pd
arreglos= np.array([["Bella", "Labrador","Café",56,24,"2013-07-01"],["Charlie", "Poodle","Negro",56,24,"2016_09_16"],["Lucy", "Chow Chow","Café",46,24,"2014-08-25"],["Cooper", "Schnauzer","Gris",49,17,"2011-12-11"],["Bernie", "San Bernardo","Blanco",77,74,"2018-02-27"],["Max", "Chow Chow","Blanco",45,28,"2019-03-27"],["Red", "Schnauzer","Negro",45,15,"2017-09-18"]])
arreglos

array([['Bella', 'Labrador', 'Café', '56', '24', '2013-07-01'],
       ['Charlie', 'Poodle', 'Negro', '56', '24', '2016_09_16'],
       ['Lucy', 'Chow Chow', 'Café', '46', '24', '2014-08-25'],
       ['Cooper', 'Schnauzer', 'Gris', '49', '17', '2011-12-11'],
       ['Bernie', 'San Bernardo', 'Blanco', '77', '74', '2018-02-27'],
       ['Max', 'Chow Chow', 'Blanco', '45', '28', '2019-03-27'],
       ['Red', 'Schnauzer', 'Negro', '45', '15', '2017-09-18']],
      dtype='<U12')

In [3]:
df= pd.DataFrame(data=arreglos,columns=["Nombre","Raza","Color","Altura","Peso","Nacimiento"])
df["Altura"]= df["Altura"].astype(int)
df["Peso"]= df["Peso"].astype(int)
df

    Nombre          Raza   Color  Altura  Peso  Nacimiento
0    Bella      Labrador    Café      56    24  2013-07-01
1  Charlie        Poodle   Negro      56    24  2016_09_16
2     Lucy     Chow Chow    Café      46    24  2014-08-25
3   Cooper     Schnauzer    Gris      49    17  2011-12-11
4   Bernie  San Bernardo  Blanco      77    74  2018-02-27
5      Max     Chow Chow  Blanco      45    28  2019-03-27
6      Red     Schnauzer   Negro      45    15  2017-09-18

In [5]:
# Cálculo de la media
df["Peso"].mean()

29.428571428571427

In [7]:
# Máscota más joven
df["Nacimiento"].min()

'2011-12-11'

In [9]:
# Percentil 80 con función
def percentil80(columna):
    return columna.quantile(.80)
df["Altura"].agg(percentil80)

56.0

In [11]:
# Agrupación estadísitica en varias columnas
df[["Altura","Peso"]].agg(percentil80)

Altura    56.0
Peso      27.2
dtype: float64

In [15]:
# Aplicación Estadísticas multiples

def percentil90(columna):
    return columna.quantile(.90)
df["Altura"].agg([percentil80,percentil90])

percentil80    56.0
percentil90    64.4
Name: Altura, dtype: float64

In [17]:
df["Altura"]

0    56
1    56
2    46
3    49
4    77
5    45
6    45
Name: Altura, dtype: int32

In [21]:
df["Altura"].cumsum()

0     56
1    112
2    158
3    207
4    284
5    329
6    374
Name: Altura, dtype: int32

In [23]:
df["Altura"].cummin()

0    56
1    56
2    46
3    46
4    46
5    45
6    45
Name: Altura, dtype: int32

In [25]:
df["Raza"].value_counts()

Raza
Chow Chow       2
Schnauzer       2
Labrador        1
Poodle          1
San Bernardo    1
Name: count, dtype: int64

In [31]:
df["Raza"].value_counts(normalize=True)

Raza
Chow Chow       0.285714
Schnauzer       0.285714
Labrador        0.142857
Poodle          0.142857
San Bernardo    0.142857
Name: proportion, dtype: float64

In [39]:
# Resumen por grupo (MODO LARGO)

print(df[df["Color"]=="Blanco"]["Peso"].mean())
print(df[df["Color"]=="Café"]["Peso"].mean())
print(df[df["Color"]=="Gris"]["Peso"].mean())
print(df[df["Color"]=="Negro"]["Peso"].mean())

51.0
24.0
17.0
19.5

In [41]:
# Resumen por grupo (MODO CORTO)

df.groupby("Color")["Peso"].mean()

Color
Blanco    51.0
Café      24.0
Gris      17.0
Negro     19.5
Name: Peso, dtype: float64

In [43]:
# Agrupación por color y raza en base a la media del peso

df.groupby(["Color", "Raza"])["Peso"].mean()

Color   Raza
Blanco  Chow Chow       28.0
        San Bernardo    74.0
Café    Chow Chow       24.0
        Labrador        24.0
Gris    Schnauzer       17.0
Negro   Poodle          24.0
        Schnauzer       15.0
Name: Peso, dtype: float64

In [47]:
# USO DE TABLA PIVOTE (Como excel)

df.pivot_table(values ="Peso",index= "Color",aggfunc=[np.mean,np.max])

C:\Users\odela\AppData\Local\Temp\ipykernel_21924\685366929.py:3: FutureWarning: The provided callable <function mean at 0x000001DB27039D00> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values ="Peso",index= "Color",aggfunc=[np.mean,np.max])
C:\Users\odela\AppData\Local\Temp\ipykernel_21924\685366929.py:3: FutureWarning: The provided callable <function max at 0x000001DB27039300> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.pivot_table(values ="Peso",index= "Color",aggfunc=[np.mean,np.max])

        mean  max
        Peso Peso
Color
Blanco  51.0   74
Café    24.0   24
Gris    17.0   17
Negro   19.5   24

In [49]:
# Obtención de promedios para dos variables

df.pivot_table(values="Peso",index="Color",columns="Raza")

Raza    Chow Chow  Labrador  Poodle  San Bernardo  Schnauzer
Color
Blanco       28.0       NaN     NaN          74.0        NaN
Café         24.0      24.0     NaN           NaN        NaN
Gris          NaN       NaN     NaN           NaN       17.0
Negro         NaN       NaN    24.0           NaN       15.0

In [51]:
# Cambiar NAN por ceros
df.pivot_table(values="Peso",index="Color",columns="Raza",fill_value=0)

Raza    Chow Chow  Labrador  Poodle  San Bernardo  Schnauzer
Color
Blanco       28.0       0.0     0.0          74.0        0.0
Café         24.0      24.0     0.0           0.0        0.0
Gris          0.0       0.0     0.0           0.0       17.0
Negro         0.0       0.0    24.0           0.0       15.0

In [66]:
# Obtención de promedios al final

df.pivot_table(values="Peso", index="Color", columns="Raza", fill_value=0, margins=True,aggfunc=np.mean)

C:\Users\odela\AppData\Local\Temp\ipykernel_21924\813516189.py:3: FutureWarning: The provided callable <function mean at 0x000001DB27039D00> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values="Peso", index="Color", columns="Raza", fill_value=0, margins=True,aggfunc=np.mean)
C:\Users\odela\AppData\Local\Temp\ipykernel_21924\813516189.py:3: FutureWarning: The provided callable <function mean at 0x000001DB27039D00> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values="Peso", index="Color", columns="Raza", fill_value=0, margins=True,aggfunc=np.mean)
C:\Users\odela\AppData\Local\Temp\ipykernel_21924\813516189.py:3: FutureWarning: The provided callable <function mean at 0x000001DB27039D00> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values="Peso", index="Color", columns="Raza", fill_value=0, margins=True,aggfunc=np.mean)

Raza    Chow Chow  Labrador  Poodle  San Bernardo  Schnauzer        All
Color
Blanco       28.0       0.0     0.0          74.0        0.0  51.000000
Café         24.0      24.0     0.0           0.0        0.0  24.000000
Gris          0.0       0.0     0.0           0.0       17.0  17.000000
Negro         0.0       0.0    24.0           0.0       15.0  19.500000
All          26.0      24.0    24.0          74.0       16.0  29.428571

In [68]:
# Obtención de mediana al final

df.pivot_table(values="Peso", index="Color", columns="Raza", fill_value=0, margins=True,aggfunc=np.median)

C:\Users\odela\AppData\Local\Temp\ipykernel_21924\1562714925.py:3: FutureWarning: The provided callable <function median at 0x000001DB272093A0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.pivot_table(values="Peso", index="Color", columns="Raza", fill_value=0, margins=True,aggfunc=np.median)
C:\Users\odela\AppData\Local\Temp\ipykernel_21924\1562714925.py:3: FutureWarning: The provided callable <function median at 0x000001DB272093A0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.pivot_table(values="Peso", index="Color", columns="Raza", fill_value=0, margins=True,aggfunc=np.median)
C:\Users\odela\AppData\Local\Temp\ipykernel_21924\1562714925.py:3: FutureWarning: The provided callable <function median at 0x000001DB272093A0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.pivot_table(values="Peso", index="Color", columns="Raza", fill_value=0, margins=True,aggfunc=np.median)

Raza    Chow Chow  Labrador  Poodle  San Bernardo  Schnauzer   All
Color
Blanco       28.0       0.0     0.0          74.0        0.0  51.0
Café         24.0      24.0     0.0           0.0        0.0  24.0
Gris          0.0       0.0     0.0           0.0       17.0  17.0
Negro         0.0       0.0    24.0           0.0       15.0  19.5
All          26.0      24.0    24.0          74.0       16.0  24.0